<app-modal *ngIf="modal.showModal" (closeModalEvent)="closeModal()"></app-modal>
<app-nav></app-nav>
<!--[selectedMovieId]="selectedPostId"-->
<!--(click)="openModal(post.id)"-->


<div class="feed container-fluid d-flex flex-column justify-content-center mt-3">
  <div class="feed-home-page">
    <form class="d-flex justify-content-center text-light" role="search">
      <input class="form-control me-2 w-25 inpt" type="search" placeholder="Search text-light" aria-label="Search">
    </form>
      <div class="social-card mt-4">
    <div class="social-card-header mb-5">
      <img
        src="https://plus.unsplash.com/premium_photo-1675034823520-01a8784605ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
        class="social-card-user-image" />
      <a class="social-card-user-name" href="https://www.social.com/followmeto/">Andrea De Pasquale</a>
      <div class="social-card-time">58 min</div>
    </div>

    <div class="social-card-image">
      <img
        src="https://images.unsplash.com/photo-1693930270229-694fc4216a69?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMTh8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=600&q=60" />
    </div>

    <div class="social-card-content pb-1">
      <p class="likes text-light"><strong>18.068 Like</strong> </p>
      <p class="text-light"><a class="social-card-content-user" href="https://www.social.com/followmeto/">Andrea De
          Pasquale</a> So excited to have made it to Lapland! Our first stop was sleeping inside a room made entirely of
        ice at the Kemi Snow Hotel 😱 Stoked that I've ticked this off my bucket list and never have to do it again...
        Let's just say the novelty of sleeping in -5 degrees temperature quickly wears off (but hey, it was a COOL
        experience nonetheless) 😜❄️ <a class="hashtag"
          href="https://www.social.com/explore/tags/visitkemi/">#visitkemi</a></p>
      <p class="comments"> <strong>Vedi tutti i 48 Commenti</strong> </p>
    </div>

    <div class="social-card-footer pt-0">
      <a class="footer-action-icons"><i class="bi bi-heart"></i></a>
      <input class="comments-input bg-transparent text-light" type="text-area"
        placeholder="Scrivi qui il tuo commento" />
      <a class="footer-action-icons"><i class="bi bi-three-dots"></i></a>
    </div>

  </div>
  <div class="social-card mt-4">
    <div class="social-card-header mb-5">
      <img
        src="https://plus.unsplash.com/premium_photo-1675034823520-01a8784605ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
        class="social-card-user-image" />
      <a class="social-card-user-name" href="https://www.social.com/followmeto/">Andrea De Pasquale</a>
      <div class="social-card-time">58 min</div>
    </div>

    <div class="social-card-image">
      <img
        src="https://plus.unsplash.com/premium_photo-1686090449936-acfc6bc38f67?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=700&q=60" />
    </div>

    <div class="social-card-content pb-1">
      <p class="likes text-light"><strong>18.068 Like</strong> </p>
      <p class="text-light"><a class="social-card-content-user" href="https://www.social.com/followmeto/">Andrea De
          Pasquale</a> So excited to have made it to Lapland! Our first stop was sleeping inside a room made entirely of
        ice at the Kemi Snow Hotel 😱 Stoked that I've ticked this off my bucket list and never have to do it again...
        Let's just say the novelty of sleeping in -5 degrees temperature quickly wears off (but hey, it was a COOL
        experience nonetheless) 😜❄️ <a class="hashtag"
          href="https://www.social.com/explore/tags/visitkemi/">#visitkemi</a></p>
      <p class="comments"> <strong>Vedi tutti i 48 Commenti</strong> </p>
    </div>

    <div class="social-card-footer pt-0">
      <a class="footer-action-icons"><i class="bi bi-heart"></i></a>
      <input class="comments-input bg-transparent text-light" type="text-area"
        placeholder="Scrivi qui il tuo commento" />
      <a class="footer-action-icons"><i class="bi bi-three-dots"></i></a>
    </div>

  </div>
  <div class="social-card mt-4">
    <div class="social-card-header mb-5">
      <img
        src="https://plus.unsplash.com/premium_photo-1675034823520-01a8784605ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
        class="social-card-user-image" />
      <a class="social-card-user-name" href="https://www.social.com/followmeto/">Andrea De Pasquale</a>
      <div class="social-card-time">58 min</div>
    </div>

    <div class="social-card-image">
      <img
        src="https://images.unsplash.com/photo-1682686580224-cd46ea1a6950?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxNnx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=700&q=60" />
    </div>

    <div class="social-card-content pb-1">
      <p class="likes text-light"><strong>18.068 Like</strong> </p>
      <p class="text-light"><a class="social-card-content-user" href="https://www.social.com/followmeto/">Andrea De
          Pasquale</a> So excited to have made it to Lapland! Our first stop was sleeping inside a room made entirely of
        ice at the Kemi Snow Hotel 😱 Stoked that I've ticked this off my bucket list and never have to do it again...
        Let's just say the novelty of sleeping in -5 degrees temperature quickly wears off (but hey, it was a COOL
        experience nonetheless) 😜❄️ <a class="hashtag"
          href="https://www.social.com/explore/tags/visitkemi/">#visitkemi</a></p>
      <p class="comments"> <strong>Vedi tutti i 48 Commenti</strong> </p>
    </div>

    <div class="social-card-footer pt-0">
      <a class="footer-action-icons"><i class="bi bi-heart"></i></a>
      <input class="comments-input bg-transparent text-light" type="text-area"
        placeholder="Scrivi qui il tuo commento" />
      <a class="footer-action-icons"><i class="bi bi-three-dots"></i></a>
    </div>

  </div>
  <div class="social-card mt-4">
    <div class="social-card-header mb-5">
      <img
        src="https://plus.unsplash.com/premium_photo-1675034823520-01a8784605ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
        class="social-card-user-image" />
      <a class="social-card-user-name" href="https://www.social.com/followmeto/">Andrea De Pasquale</a>
      <div class="social-card-time">58 min</div>
    </div>

    <div class="social-card-image">
      <img
        src="https://images.unsplash.com/photo-1682685797741-f0213d24418c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwzMXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=700&q=60" />
    </div>

    <div class="social-card-content pb-1">
      <p class="likes text-light"><strong>18.068 Like</strong> </p>
      <p class="text-light"><a class="social-card-content-user" href="https://www.social.com/followmeto/">Andrea De
          Pasquale</a> So excited to have made it to Lapland! Our first stop was sleeping inside a room made entirely of
        ice at the Kemi Snow Hotel 😱 Stoked that I've ticked this off my bucket list and never have to do it again...
        Let's just say the novelty of sleeping in -5 degrees temperature quickly wears off (but hey, it was a COOL
        experience nonetheless) 😜❄️ <a class="hashtag"
          href="https://www.social.com/explore/tags/visitkemi/">#visitkemi</a></p>
      <p class="comments"> <strong>Vedi tutti i 48 Commenti</strong> </p>
    </div>

    <div class="social-card-footer pt-0">
      <a class="footer-action-icons"><i class="bi bi-heart"></i></a>
      <input class="comments-input bg-transparent text-light" type="text-area"
        placeholder="Scrivi qui il tuo commento" />
      <a class="footer-action-icons"><i class="bi bi-three-dots"></i></a>
    </div>

  </div>
  <div class="social-card mt-4">
    <div class="social-card-header mb-5">
      <img
        src="https://plus.unsplash.com/premium_photo-1675034823520-01a8784605ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
        class="social-card-user-image" />
      <a class="social-card-user-name" href="https://www.social.com/followmeto/">Andrea De Pasquale</a>
      <div class="social-card-time">58 min</div>
    </div>

    <div class="social-card-image">
      <img
        src="https://plus.unsplash.com/premium_photo-1680543345312-e5f25a1557ae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0Mnx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=700&q=60" />
    </div>

    <div class="social-card-content pb-1">
      <p class="likes text-light"><strong>18.068 Like</strong> </p>
      <p class="text-light"><a class="social-card-content-user" href="https://www.social.com/followmeto/">Andrea De
          Pasquale</a> So excited to have made it to Lapland! Our first stop was sleeping inside a room made entirely of
        ice at the Kemi Snow Hotel 😱 Stoked that I've ticked this off my bucket list and never have to do it again...
        Let's just say the novelty of sleeping in -5 degrees temperature quickly wears off (but hey, it was a COOL
        experience nonetheless) 😜❄️ <a class="hashtag"
          href="https://www.social.com/explore/tags/visitkemi/">#visitkemi</a></p>
      <p class="comments"> <strong>Vedi tutti i 48 Commenti</strong> </p>
    </div>

    <div class="social-card-footer pt-0">
      <a class="footer-action-icons"><i class="bi bi-heart"></i></a>
      <input class="comments-input bg-transparent text-light" type="text-area"
        placeholder="Scrivi qui il tuo commento" />
      <a class="footer-action-icons"><i class="bi bi-three-dots"></i></a>
    </div>

  </div>
  </div>

</div>

