<app-post-modal *ngIf="modal.showModal" (closeModalEvent)="closeModal()"></app-post-modal>
<nav class="main-menu position-fixed">
  <ul>
    <li routerLinkActive [routerLink]="['/home']">
      <i class="logo"><img src="../../../assets/media/universe.png" alt=""></i>
    </li>
    <li routerLinkActive [routerLink]="['/home']">
      <a>
        <i class="bi bi-house-heart"></i>
        <span class="nav-text">
          Home
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a>
        <i class="bi bi-search"></i>
        <span class="nav-text">
          Search
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a>
        <i class="bi bi-envelope-at"></i>
        <span class="nav-text">
          Message
        </span>
      </a>

    </li>
    <li>
      <a>
        <i class="bi bi-heart"></i>
        <span class="nav-text">
          Notification
        </span>
      </a>
    </li>
    <li>
      <a (click)="openModal()">
        <i class="bi bi-plus-square"></i>
        <span class="nav-text">
          Crea
        </span>
      </a>
    </li>
    <li class="has-subnav" routerLinkActive [routerLink]="['/user']" >
      <a>
       <i class="bi"><img
         alt="alt" *ngIf="currentUser" [src]="imageUrl"
              class="social-card-user-image" /></i>
        <span class="nav-text" *ngIf="currentUser">
          {{currentUser.username}}!
        </span>

      </a>
    </li>
  </ul>
  <ul class="logout">
    <li>
      <a>
        <i class="bi bi-power"></i>
        <span class="nav-text" (click)="logout()">
          Logout
        </span>
      </a>
    </li>
  </ul>
</nav>

