<div class="content">
 <div class="login-box">
  <h2>Login</h2>
  <form>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Username or Email</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="">
      <label>Password</label>
    </div>
    <p class="btn" >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    LogIn
    </p>
    <div class="text-light text-center">
      <h5 class="mt-4">Oppure</h5>
    <h5>Se non hai ancora un account</h5>
    </div>
    <p class="text-center d-flex justify-content-center btn">Registrati Ora!</p>

  </form>
</div>
</div>


