.card {
  width: 450px;
  border-radius: 20px;
  background: #1b233d;
  padding: 5px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  img{
    border-radius: 10px;
  }
}

.card:hover {
  transform: scale(1.05);
}

.card .top-section {
  height: 150px;
  border-radius:
  10px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  //background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
  position: relative;

}




.card .bottom-section {
  margin-top: 10px;
  padding: 10px 5px;
}

.card .bottom-section .title {
  display: block;
  font-size: 17px;
  font-weight: bolder;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

.card .bottom-section .row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card .bottom-section .row .item {
  flex: 30%;
  text-align: center;
  padding: 5px;
  color: rgba(170, 222, 243, 0.721);
}

.card .bottom-section .row .item .big-text {
  font-size: 12px;
  display: block;
  color: white;
  font-weight: 700;
}

.card .bottom-section .row .item .regular-text {
  font-size: 9px;
}

.card .bottom-section .row .item:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.126);
  border-right: 1px solid rgba(255, 255, 255, 0.126);
}



//profile header follower post


a {
  text-decoration: none;
}

.social-card {
  background: #1b1e25;
  border: 1px solid #f2f2f2;
  border: hidden;
  border-radius: 3px;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.social-card-image {
  height: 300px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.social-card-header {
  padding: 20px;
  height: 40px;
}

.social-card-user-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border: 2px solid aquamarine;
}

.social-card-time {
  float: right;
  width: 80px;
  padding-top: 10px;
  text-align: right;
  color: #fff;
}

hr {
  border: none;
  border-bottom: 1px solid #fff;
  margin-top: 30px;
  margin-bottom: 40px;

}

//sezione friend list

.friends-menu {
  background: #2e385288;
  border-left: 1px solid #e5e5e557;
  color: white;
  border-left-width: 50% !important;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  right: 0;
  width: 300px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
}

.friends-menu>ul {
  margin: 5px 0;
}

.friends-menu li {
  position: relative;
  display: block;
  width: 100%;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

div ul,
div li {
  outline: 0;
  margin: 0 4px;
  padding: 0;
}

.bi-dot {
  color: green;
  font-size: 2.5em;
}


//cards

.card-posts {
  position: relative;
  width: 300px;
  height: 200px;
  background-image: linear-gradient(-45deg, #29f8a2 0%, #0f4fff 100% );
  border-radius: 10px;
  border: hidden;
  display: flex;
  padding: 10px 30px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.card-posts:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.card-posts .card-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 16px;
  transform: translate(-50%, -50%);
  background-color: #ffffff00;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  border: none;
  opacity: 0;
  scale: 0;
  transform-origin: 0 0;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card-posts:hover .card-btn {
  opacity: 1;
  scale: 1;
}

.card-posts .card-btn:hover {
  box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.3);
}

.card-posts .card-btn:active {
  scale: 0.95;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-45deg, #2952f880 0%, #0fffff80 100% );
  transition: transform 0.5s ease;
}

.card-posts:hover .overlay::after {
  transform: translate(-50%, -50%) scale(2);
}
