<div id="overlay" (click)="closeModal()"></div>
<div id="container">
  <div>

  </div>
  <div class="image-modal">
    <img *ngIf="postInfo" [src]="imageData">
  </div>
  <div class="commenti-nav">
    <div class="social-card" style="border: hidden;">
      <div class="social-card-header d-flex justify-content-between align-items-center">
        <div>
          <img [src]="imageDataUser" class="social-card-user-image" />
          <a class="social-card-user-name" *ngIf="userPostInfo">{{userPostInfo.username}}</a>
        </div>
        <div>
          <div class="dropdown">
            <button class="btn three-dots" type="button" data-bs-toggle="dropdown" aria-expanded="true">
              <i class="bi bi-three-dots"></i>
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" type="button"><i class="bi bi-pencil-square me-2"></i>Edit</button></li>
              <li><button class="dropdown-item" type="button"><i class="bi bi-trash3 me-2"></i>Delete</button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="w-100">
    <div>
      <div class="comments-container">
        <ul id="comments-list" class="comments-list p-0" *ngFor="let comment of postComment; let i = index" >
          <li>
            <div class="comment-main-level d-flex gap-4 my-2">
              <div>
                <img [src]="imageUsers" src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg"
                  class="social-card-user-image" />
              </div>
                <div class="comment-box">
                  <div class="comment-head">
                    <h6 class="comment-name by-author"><a >{{comment.username}}</a></h6>
                    <span>{{comment.dataCreazioneFormatted}}</span>
                    <i class="bi bi-reply"></i>
                    <i class="bi bi-heart"></i>
                  </div>
                  <div class="comment-content">
                    {{comment.content}}
                  </div>
                </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
