<div id="overlay" (click)="closeModal()"></div>
<div id="container">
  <div>
    <!-- Aggiungi qui il contenuto che desideri -->
  </div>
  <div class="image-modal">
    <img [src]="postInfo?.postImageUrl" loading="lazy">
  </div>
  <div class="commenti-nav">
    <div class="social-card" style="border: hidden;">
      <div class="social-card-header d-flex justify-content-between align-items-center">
        <div>
          <img [src]="postInfo?.userImage" class="social-card-user-image" loading="lazy" />
          <a class="social-card-user-name">{{userPostInfo?.username}}</a>
        </div>
        <div>
          <div class="dropdown">
            <button class="btn three-dots" type="button" data-bs-toggle="dropdown" aria-expanded="true">
              <i class="bi bi-three-dots"></i>
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" type="button"><i class="bi bi-pencil-square me-2"></i>Edit</button></li>
              <li><button class="dropdown-item" type="button"><i class="bi bi-trash3 me-2"></i>Delete</button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="w-100">
    <div>
      <div class="comments-container">
        <ul id="comments-list" class="comments-list p-0">
          <li *ngFor="let comment of postComments; let i = index">
            <div class="comment-main-level d-flex gap-4 my-2">
              <div>
                <img [src]="comment.user?.profileImageUrl" class="social-card-user-image" loading="lazy"/>
              </div>
              <div class="comment-box">
                <div class="comment-head">
                  <h6 class="comment-name by-author"><a>{{comment.user?.username}}</a></h6>
                  <span>{{comment.formattedDate}}</span>
                  <i class="bi bi-reply"></i>
                  <i class="bi bi-heart"></i>
                </div>
                <div class="comment-content">
                  {{comment.content}}
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="Message">
          <input tabindex="i" pattern="\d+" placeholder="Comment.." class="MsgInput" type="text" name="content" id="content" style="height: 100%;">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="30.000000pt" height="30.000000pt" viewBox="0 0 30.000000 30.000000" preserveAspectRatio="xMidYMid meet" class="SendSVG" style="width: 30px; height: 30px; background-size: 10px;">
            <g transform="translate(0.000000,30.000000) scale(0.100000,-0.100000)" fill="#ffffff70" stroke="none">
              <path d="M44 256 c-3 -8 -4 -29 -2 -48 3 -31 5 -33 56 -42 28 -5 52 -13 52 -16 0 -3 -24 -11 -52 -16 -52 -9 -53 -9 -56 -48 -2 -21 1 -43 6 -48 10 -10 232 97 232 112 0 7 -211 120 -224 120 -4 0 -9 -6 -12 -14z"></path>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
